* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import 'core/variables';
@import 'components/palettes';
@import 'components/typography';
@import 'pages/cardPreview';
@import 'pages/designCard';
@import 'pages/fillCard';
@import 'layout/header';
@import 'layout/main_firstpage';


