<section class="section__card">
    <div class="container__width">
        <button class="button__reset" type="reset">
            <i class="far fa-trash-alt"></i>
            <span class="button">Reset</span>
        </button>
        
        <div class="box__card" id="box">
            
            <div class="userInfo">
                <div class="detail"></div>
                <h2 class="userInfo__name">Nombre Apellido</h2>
                <h3 class="userInfo__job">Front-end developer</h3>
            </div>
            <div class="img">
                <img src="" class="image-preview__file" alt="">
            </div>
            <ul class="list__icon">
                <li class="list__item">
                    <a class="item__link mobile" href="">
                        <i class="fas fa-mobile-alt"></i>
                    </a>
                </li>
                <li class="list__item">
                    <a class="item__link email" href="">
                        <i class="far fa-envelope"></i> 
                    </a>
                </li>
                <li class="list__item">
                    <a class="item__link linkedin" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li class="list__item">
                    <a class="item__link github" href="">
                        <i class="fab fa-github-alt"></i>
                    </a>
                </li>
            </ul>
            <div class="separation"></div>
            <ul class="list__skills">
                <li class="list__item-skills">Html</li>
                <li class="list__item-skills">css</li>
                <li class="list__item-skills">gulp</li>
                <li class="list__item-skills">git</li>
                <li class="list__item-skills">Sass</li>
                <li class="list__item-skills">JavaScript</li>
                <li class="list__item-skills">AJAX</li>
                <li class="list__item-skills">React</li>  
            </ul>
        </div>
    </div>
</section>