<section class="design-card">
  <div class="title-dropdown">
    <div class="title-dropdown__icontitle">
      <i class="far fa-object-ungroup title-dropdown__icon-design"></i>
      <h2 class="title-dropdown__title-design">Diseña</h2>
    </div>
    <div class="title-dropdown__arrow arrowDesign">
      <i class="fas fa-chevron-down"></i>
    </div>

  </div>

  <div class="design-card__colors">
    <h3 class="title-colors">Colores</h3>

    <div class="design-card__colors__select-palette">

      <label for="palette-green">
        <input class="radio" id="palette-green" type="radio" value="palette-green" name="">
        <div class="colors-palette">
          <div class="colors-palette__item green1"></div>
          <div class="colors-palette__item green2"></div>
          <div class="colors-palette__item green3"></div>
        </div>
      </label>

      <label for="palette-red">
        <input class="radio" id="palette-red" type="radio" value="palette-red" name="">
        <div class="colors-palette">
          <div class="colors-palette__item red1"></div>
          <div class="colors-palette__item red2"></div>
          <div class="colors-palette__item red3"></div>
        </div>
      </label>

      <label for="palette-blue">
        <input class="radio" id="palette-blue" type="radio" value="palette-blue" name="">
        <div class="colors-palette">
          <div class="colors-palette__item blue1"></div>
          <div class="colors-palette__item blue2"></div>
          <div class="colors-palette__item blue3"></div>
        </div>
      </label>
    </div>
  </div>

  <div class="design-card__fonts">
    <h3 class="title-fonts">Fuentes</h3>

    <div class="design-Card__colors__select-font">

      <label for="font-Ubuntu">
        <input class="radio" id="font-Ubuntu" type="radio" value="Ubuntu" name="">
        <p class="font-Ubuntu">Ubuntu</p>
      </label>

      <label for="font-ComicSans">
        <input class="radio" id="font-ComicSans" type="radio" value="ComicSans" name="">
        <p class="font-ComicSans">Comic Sans</p>
      </label>

      <label for="font-Montserrat">
        <input class="radio" id="font-Montserrat" type="radio" value="Montserrat" name="">
        <p class="font-Monserrat">Monserrat</p>
      </label>

    </div>
  </div>
</section>
