<section class="fill-card">
  <div class="title-dropdown">
    <div class="title-dropdown__icontitle">
      <i class="far fa-keyboard"></i>
      <h2 class="title-dropdown__title-fill">Rellena</h2>
    </div>
    <div class="title-dropdown__arrow arrowFill">
      <i class="fas fa-chevron-down"></i>
    </div>

  </div>
  
  <form action="/signup" method="post" class="form">
    <label for="full-name">Nombre completo</label>
    <input placeholder="Ej: Sally Jill" id="full-name" type="text" name="full-name">
    <label for="job">Puesto</label>
    <input placeholder="Ej: Front-end unicorn" id="job" type="text" name="job">
    <p class="tetx__image">Imagen de perfil</p>
    <a href="">Añadir imagen</a>
    <div class="image__preview"></div>
    <label for="emailAddress">Email</label>
    <input placeholder="Ej: sally-hill@gmail.com" id="emailAddress" type="email" name="emailAddress">
    <label for="telephone">Teléfono</label>
    <input placeholder="Ej: 555·55·55·55" pattern=[0-9]{9} type="tel" id="telephone" name="telephone">
    <label for="Linkedin">Linkedin</label>
    <input placeholder="Ej: linkedin.com/in/sally.hill" type="text" name="linkedin" id="linkedin">
    <label for="GitHub">GitHub</label>
    <input placeholder="Ej: @sally-hill" type="text" name="github" id="github">
    <p class="text__skills">Habilidades (máximo 3)</p>
    <div>
      <label for="HTML">
        <input id="HTML" type="checkbox" value="chooseskill" name="skilloptions">
        HTML
      </label>
    </div>
    <div>
      <label for="CSS">
        <input id="CSS" type="checkbox" value="chooseskill" name="skilloptions">
        CSS
      </label>
    </div>
    <div>
      <label for="Gulp">
        <input id="gulp" type="checkbox" value="chooseskill" name="skilloptions">
        Gulp
      </label>
    </div>
    <div>
      <label for="Git">
        <input id="git" type="checkbox" value="chooseskill" name="skilloptions">
        Git
      </label>
    </div>
    <div>
      <label for="Sass">
        <input id="sass" type="checkbox" value="chooseskill" name="skilloptions">
        Sass
      </label>
    </div>
    <div>
      <label for="HTML">
        <input id="HTML" type="checkbox" value="chooseskill" name="skilloptions">
        HTML
      </label>
    </div>
    <div>
      <label for="JavaScript">
        <input id="javascript" type="checkbox" value="chooseskill" name="skilloptions">
        JavaScript
      </label>
    </div>
    <div>
      <label for="AJAX">
        <input id="ajax" type="checkbox" value="chooseskill" name="skilloptions">
        AJAX
      </label>
    </div>
    <div>
      <label for="React">
        <input id="react" type="checkbox" value="chooseskill" name="skilloptions">
        React
      </label>
    </div>
  </form>
</section>