<section>
    <h1 class="start__tittle">
    Crea tu tarjeta de visita
    </h1>
    <p class="start__slogan">
    Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <ul class="start__options">
        <li class="start__option-design">
        Diseña
        </li class="start__option-stuffed">
        <li>
        Rellena
        </li>
        <li class="start__option-share">
            <i class="fas fa-share-alt"></i>
        Comparte
        </li>
    </ul>
    <a class="start__buton-continue" href="">
    Comenzar
    </a>
</section>