<section class="share">
    <div class="container-section">
        <div class="container-title">
        <div class="container-icon-title">
        <div class="title-dropdown__icon-share">
            <i class="fas fa-share-alt"></i>
        </div>
        <h2 class="title-dropdown__title-share">Comparte</h2>
        </div>
        <div class="arrow-share-down"></div>
            <i class="fas fa-chevron-down"></i>
        </div>
        <button type="button" class="button-create">
            <i class="far fa-address-card"></i>
            Crear tarjeta
        </button>
    </div>
    <div class="container-hide-section">
        <h3 class="text-hide-section">La tarjeta ha sido creada:</h3>
        <a class="link-profile-card" href="enlace a tarjeta">enlace a tarjeta</a>
        <button type="button" class="share-twitter">
            <i class="fab fa-twitter"></i>
            Compartir en twitter
        </button>
    </div>

</section>