<section class="share">
  <div class="container-section">
    <div class="container-title">
      <div class="container-icon-title">
        <div class="title-dropdown__icon-share">
          <i class="fas fa-share-alt"></i>
        </div>
        <h2 class="title-dropdown__title-share">Comparte</h2>
      </div>
      <div class="arrow-share-down"></div>
      <i class="arrowSa fas fa-chevron-down"></i>
    </div>
    <div class="container-share">
      <button type="submit" class="button-create no-clicked">
        <i class="far fa-address-card"></i>
        <p>Crear tarjeta</p>
      </button>
      <div class="container-hide-section">
        <h3 class="text-hide-section">La tarjeta ha sido creada:</h3>
        <a class="link-profile-card" href="enlace a tarjeta">enlace a tarjeta, enlace a la tarjeta</a>
        <button type="submit" class="share-twitter">
          <i class="fab fa-twitter"></i>
          <p class="share-twitter-text">Compartir en twitter</p>
        </button>
      </div>
    </div>
  </div>
</section>