<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Awesome profile card</title>
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <partial src="_header.html"></partial>
    <main>
    <partial src="_main.html"></partial>
    <partial src="_main-share.html"></partial>
    </main> 
    <partial src="_footer.html"></partial>
</body>
</html>
