.header__container-designCard{
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__gonext{
    display: block;
    margin: auto;
    width: 250px;
}
.header__logo{
    display: inline-block;
    width: 250px;
    height: 64px;
}