.container-section {
  /*width: 320px;
  height: 175px;*/
  margin: 27px 20px 0 20px;
  border-bottom: solid 1px $white-two;
}
.container-title {
  display: flex;
  margin: 13px 23px 0 23px;
  justify-content: space-between;
}
.container-icon-title {
  display: flex;
}
.title-dropdown__title-share {
    font-family: $fontFamily-text;
    font-weight: $weightSemiBold;
    font-size: 18px;
    color: $gunmetal;
    text-transform: uppercase;
    margin-left: 10px;
  }
  .title-dropdown__icon-share {
    color: $dull-orange;
    font-size: 18px;
  }
  .button-create {
    font-family: $fontFamily-text;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: $weightSemiBold;
    color: $white;
    background-color: $dull-orange;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    padding: 13px 18px;
    margin: 30px 0 30px 0;

  }
  .fa-address-card {
    padding-right: 10px;
  }
