.created__target {
    background: linear-gradient(to bottom, $white-three, $white);
}
.tunning__responsive {
<<<<<<< HEAD
    padding: 0px 20px 0px 20px;
    max-width: 300px;
    // margin-left: auto;
    // margin-right: auto;
=======
    padding: 20px 20px 30px 20px;
>>>>>>> 308c74261b4824251daa341d888d9b03ae3ed44a
}

@media all and (min-width:768px) {
    .created__target {
        display: grid;
        grid-template-columns: 330px 1fr 1fr 1fr;
        padding: 20px 40px;
        background: linear-gradient(to bottom, $white-three, $white);
        
    }
    .section__card {
        grid-column: 2/5;
        border-radius: 6px;
        // margin-left: 30px;
    }
    .tunning__responsive {
        max-width: 300px;
        grid-column: 1/2;
        grid-row: 1;
        padding: 0;
    }
    .title-colors,
    .title-fonts {
        margin: 0;
    }
    .size__container{
        padding-bottom: 510px;
    }
    .footer__section{
        max-height: 60px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        .footer__text-reg{
            margin-left: 40px;
        }
        .footer__conection{
            margin-right: 40px;
        }
    }
}