.created__target {
    background: linear-gradient(to bottom, $white-three, $white);
}
.tunning__responsive {
    padding: 0px 20px 0px 20px;
}

@media all and (min-width:768px) {
    .created__target {
        display: grid;
        grid-template-columns: 200px 200px 1fr 1fr 1fr;
        padding: 20px 40px;
        background: linear-gradient(to bottom, $white-three, $white);
        
    }
    .section__card {
        grid-column: 3/6;
        border-radius: 6px;
        margin-left: 30px;

    }
    .tunning__responsive {
        grid-column: 1/3;
        grid-row: 1;
        max-width: 330px;
        padding: 0;
    }
    .title-colors,
    .title-fonts {
        margin: 0;
    }
    .footer__section{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        .footer__text-reg{
            margin-left: 40px;
        }
        .footer__conection{
            margin-right: 40px;
        }
    }
}