@media all and (min-width:768px) {
    .created__target {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    .section__card {
        max-width: 50%;
    }
    .tunning__responsive {
        max-width: 50%;
    }
}