$fontFamily-text: 'Open Sans', sans-serif;
$fontFamily-primary: 'Ubuntu', sans-serif;
$fontFamily-tertiary: 'Montserrat', sans-serif;
$fontFamily-quaternary: 'Comic Sans MS', cursive, sans-serif;
$fontFamily-Merri: 'Merriweather', serif;

$weightBold: 700;
$weightRegular: 400;
$weightSemiBold: 600;

 //Color section cardPrevied....and others (I think this is to share)
$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$dark-red: #420101;
$rusty-red: #bd1010;
$tomato: #e95626;
$dark-grey: #3e5b65;
$pale-grey-two: #dfe5eb;
$light-grey-blue: #a0c0cf;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$gunmetal: #54585a;
$white: #fff;

$dull-orange:#e17334;
$white-two: #d8d8d8;